<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Home</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card *ngFor="let categoria of categorias">
		<img src="{{'data:image/jpg;base64,' + categoria.icone}}" />
		<ion-card-header>
			<a routerLink="/eventos/{{categoria.idCategoria}}">Ver Eventos</a>
			<ion-card-subtitle>{{categoria.dataDeCadastro}}</ion-card-subtitle>
			<ion-card-title>{{categoria.nome}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>{{categoria.descricao}}</ion-card-content>
	</ion-card>
</ion-content>